<div class="wrapper">
  <app-game-rules [points]="pointsPerDigits()"/>
  <div class="game">
    <div class="best-score">Best score: {{ bestScore() }} points</div>
    <div class="score">Score: {{ score() }} points</div>

    <div class="input-wrapper">
      <span class="pi-prefix">3.</span>
      <span class="valid-digit">{{ input() }}</span>
      <span *ngIf="isActive()" class="cursor">_</span>
      <span *ngIf="isError()" class="error-digit">{{ errorDigit() }}</span>
    </div>

    <div class="actions">
      <button *ngIf="isActive()" (click)="stop()">Stop</button>
      <button *ngIf="!isActive()" (click)="play()">Play</button>
    </div>
  </div>
</div>
